.scroll-down-button {
  margin: 0 auto;
  padding: 0;
  margin-bottom: 4%;
  margin-left: 50%;
  background: transparent;
  border: none;
  cursor: pointer;
  img {
    width: 1.2em;
    height: auto;
    margin: 0 auto;
  }
  .scroll-down-icon:hover {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
  }
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0px);
  }
  40% {
    transform: translateY(3px);
  }
  60% {
    transform: translateY(2px);
  }
}
