.story-grid__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin: 0 20px;
  grid-auto-flow: dense;
}

@media (max-width: $screen-md) {
  .story-grid__container {
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    margin: 0 10px;
  }
}

@media (min-width: 769px) {
  .story-grid__container {
    display: block;
  }
}
