.wedding {
  margin:10px;
  padding:0px;
  @media (min-width: $screen-md) {
    margin:40px;
  }
  &_title{
   font-family:$font-playfair;
   font-size: 30px;
   display: flex;
   justify-content: center;
   letter-spacing:1px;
   text-transform:uppercase;
   letter-spacing:1px;


    @media (min-width: $screen-md) {
      margin-left:50px;
      border-bottom:1px solid $color-main-purple;
      width:50px;
    }
  }

  &_description{
    font-family:$font-futura-book;
    display: flex;
    justify-content: center;
    @media (min-width: $screen-md) {
       width: 400px;
    }
    ul {
      list-style: none;
      padding:0px;

    }
  }

  &_options{
    font-family:$font-futura-book;
    display: flex;
    justify-content: center;
    @media (min-width: $screen-md) {

    }
    ul{
      list-style:none;
      padding:0px;
    }
  }

  &_image1{
    margin:10px;
    position:absolute;
    right:100px;
    img{
     width: 100px;
     @media (min-width: $screen-md) {
        width: 400px;
     }
    }
  }

  &_image2{
    margin:10px;
    position:absolute;
    right:100px;
    img{
     width: 100px;
     @media (min-width: $screen-md) {
        width: 400px;
     }
    }
  }

  &_image3{
    margin:10px;
    position:absolute;
    right:100px;
    img{
     width: 100px;
     @media (min-width: $screen-md) {
        width: 400px;
     }
    }

  }

}
