* {
  box-sizing: border-box;

  form.form-group {
    padding: 0 3em 0 0;
    width: 100%;
    label {
      color: $color-grey;
      font-family: $font-futura-book;
      span.required {
      }
    }
    .form-field {
      width: 100%;
      border: none;
      border-bottom: 1px solid $color-light-grey;
      height: 5em;
      margin: 2em 0;
      font-family: $font-futura-book;
    }
    .button {
      text-align: center;
    }
  }
}

@media (max-width: $screen-md) {
  form.form-group {
    padding: 0;
  }
}
