.company {
  margin:0px;
  padding:0px;

  &_title{
    font-family:$font-playfair;
      padding:5px;
      margin:1%;
      font-size: 4vh;
      display: flex;
      justify-content: center;
      letter-spacing:1px;
      text-transform:uppercase;
      text-align: center;
      border-bottom:1px solid $color-main-purple;
  }
  &_description{
     text-align: justify;
      text-justify: inter-word;
      font-family:$font-futura-book;
      display:flex;
      justify-content: center;
    
        @media (min-width: $screen-md) {
        padding:10%;
        margin:6% 0 0 10%;
      }
  }
}
