/* Font sizes we need to decide them check the example below how they should look*/
$font-size-base: 16;
$font-size-headline: 36;

/* Media queries: all minimum sizes they start */

$screen-xs: 360px; //small mobile
$screen-sm: 425px; //large mobile
$screen-md: 768px; //tablet
$screen-lg: 1024px; //desktop
$screen-xl: 1440px; //desktop large

$breakpoints: (
  xs: $screen-xs,
  sm: $screen-sm,
  md: $screen-md,
  lg: $screen-lg,
  xl: $screen-xl
);
//In order to use the media queries think that
//those are the minimum sizes that it starts and then apply
//@media (max-width: $screen-XX) or @media (min-width: $screen-XX)
