li.terms-list {
  text-align: left;
  white-space: pre-line;
  list-style-type: circle;
}
p.terms-body-text {
  text-align: left;
  white-space: pre-line;
  overflow-wrap: break-word;
}
#effective-date {
  text-align: center;
  font-size: 0.6em;
}

#link {
  text-align: center;
}
