.backgroundimg {
  position: absolute;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-background-repeat: no-repeat;
  -moz-background-repeat: no-repeat;
  -o-background-repeat: no-repeat;
  background-repeat: no-repeat;
  -webkit-background-position: fixed;
  -moz-background-position: fixed;
  -o-background-position: fixed;
  background-position: center;
  // background-attachment: fixed;
  // -webkit-background-attachment: fixed;
  // -moz-background-attachment: fixed;
  // -o-background-attachment: fixed;
  // background-attachment: fixed;
  // top: 0;
  // left: 0;
  // height: 100%;
  // width: 100%;
  z-index: 0;

  min-height: 100vh;
  min-width: $screen-lg;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;

  @media (max-width: $screen-lg) {
    left: 50%;
    margin-left: -512px;
  }
}

#back1 {
  background-image: url("../assets/images/home/background-images/background-image-4.jpg");
  //background-attachment: fixed;
}

#back2 {
  // background: url("../assets/images/home/background-images/background-image-3.jpg")
  background-image: url("../assets/images/home/background-images/background-image-3.jpg");
  //background-attachment: fixed;
}

#back3 {
  background-image: url("../assets/images/home/background-images/background-image-7.jpg");
  //background-attachment: fixed;
}

#back4 {
  background-image: url("../assets/images/home/background-images/background-image-5.jpg");
  //background-attachment: fixed;
}

#back5 {
  background-image: url("../assets/images/home/background-images/background-image-6.jpg");
  //background-attachment: fixed;
}

@keyframes backgroundchangeFadeInOut {
  0% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  92% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes backgroundchangeFadeInOut {
  0% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  92% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#backgroundchange div:nth-of-type(1) {
  animation-delay: 40s;
  -webkit-animation-delay: 40s;
}
#backgroundchange div:nth-of-type(2) {
  animation-delay: 30s;
  -webkit-animation-delay: 30s;
}
#backgroundchange div:nth-of-type(3) {
  animation-delay: 20s;
  -webkit-animation-delay: 20s;
}
#backgroundchange div:nth-of-type(4) {
  animation-delay: 10s;
  -webkit-animation-delay: 10s;
}

#backgroundchange div:nth-of-type(5) {
  animation-delay: 0;
  -webkit-animation-delay: 0;
}

#backgroundchange div {
  animation-name: backgroundchangeFadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 40s;

  -webkit-animation-name: backgroundchangeFadeInOut;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 40s;
}
