.heading-h1 {
  font-family: $font-playfair;
  color: $color-main-purple;
  text-transform: uppercase;
  text-align: center;
  padding: 0;
}

@media (min-width: 769px) {
  .heading-h1 {
    display: none;
  }
}
