.contact-container {
  margin: 190px 0 0 0px;
  padding: 2em;
  .contact-flex-container {
    height: auto;
    display: flex;
    .form-container {
      width: 100%;
    }
    .address-map-container {
      width: 100%;
      height: auto;
    }
  }
}
@media (max-width: $screen-md) {
  .contact-container {
    margin: 130px 0 0 0px;
    .contact-flex-container {
      height: auto;
      display: block;
      .form-container {
        width: 90%;
        margin: 0 auto;
      }
      .address-map-container {
        width: 90%;
        margin: 0 auto;
        height: auto;
        margin-top: 2em;
      }
    }
  }
}

@media (max-width: $screen-sm) {
  .contact-container {
    padding: 0;
  }
}
