.languagepickerlight {
  &__list {
    display: flex;
    justify-content: flex-end;
    &__item {
      font-size: 0.8rem;
      letter-spacing: 0.1em;
      margin: 20px 0;
      color: $color-white;
      &__a:hover {
        color: $color-red;
      }
      &__a--selected {
        color: $color-main-purple;
        background: $color-white;
        padding: 2px 4px;
        border-radius: 2px;
      }
    }
  }
}
