div.languagepicker {
  ul.languagepicker__list {
    display: flex;
    justify-content: flex-end;
    li.languagepicker__list-item {
      color: white;
      font-size: 0.8rem;
      margin: 20px 0;
      color:$color-main-purple;
    }
    @media (max-width: 768px) {
      li.languagepicker__list-item {
        color: $color-main-purple;
      }
    }
    li.languagepicker__list-item:hover {
      color: $color-main-purple;
    }
    li.selected {
      color: white;
      background: $color-main-purple;
    }
  }
}
