* {
  box-sizing: border-box;
  div.address-container {
    width: 100%;
    padding: 4em 0;
    h2.address-title {
      text-align: center;
      font-family: $font-futura-book;
      color: $color-grey;
      margin: 0;
    }
    p.address-line {
      text-align: center;
      font-family: $font-futura-book;
      color: $color-grey;
    }
  }
}
