.homepage-image {
  height: 35em;
  div.image-container-large {
    display: block;
    background-image: url(/images/background.jpg);
    height: 100%;
    width: 70%;
    margin: 0 auto;
    background-size: cover;
  }
}
