// img.home-background {
//   min-width: $screen-lg;
//   width: 100%;
//   height: 1000px;
//   position: fixed;
//   top: 0;
//   left: 0;
//   z-index: -1;
// }

// @media screen and (max-width: $screen-lg) {
//   img.home-background {
//     left: 50%;
//     margin-left: -512px;
//   }
// }

.container {
  display: flex;
  flex-direction: column;
  &__top {
    min-height: 100%;
    height: 100vh;
    background-attachment: fixed;

    //min-width: $screen-lg;
    background-image: url("../assets/images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    &__background {
    }
  }
  &__middle,
  &__bottom {
    width: 100%;
    height: 100%;
    left: 0;
    background: white;
    margin: 0;
    padding: 0;

    &__border {
      border: 2px solid purple;
      box-sizing: border-box;
      background: white;
      margin: 10px;
      padding: 30px;
      &__title {
        font-family: $font-playfair;
        color: $color-main-purple;
      }
      &__img-one {
      }
      &__img-two {
      }
      &__bodytext {
        font-family: $font-playfair;
        color: $color-main-purple;
      }
      &__link {
        background-color: $color-main-purple;
        color: $color-white;
        padding: 10px 20px;
        border-radius: 2px;
      }
    }
  }
  // &__bottom {
  //   width: 100%;
  //   height: 100%;
  //   background: white;
  //   margin: 0;
  //   padding: 0;
  //   &__border {
  //     border: 2px solid purple;
  //     box-sizing: border-box;
  //     background: white;
  //     margin: 10px;
  //   }
  // }
}

// <div className="container">
//   <div className="container__top">
//     <img
//       className="container__top__background"
//       src="/images/background.jpg"
//       alt="Flowers by Flors Carolina"
//     />
//     <TextBox text={text} />
//   </div>

//   <div className="container__middle">
//     <div className="container__middle__border">Middle</div>
//   </div>
//   <div className="container__bottom">
//     <div className="container__bottom__border">End</div>
//   </div>
// </div>

// <div className="container__middle__border">
//             <h1 className="container__middle__border__title">Our Story</h1>
//             <img src="" alt="" className="container__middle__border__imgone" />
//             <img src="" alt="" className="container__middle__border__imgtwo" />
//             <p className="container__middle__border__bodytext">
//               Middle: Lorem Ipsum is simply dummy text of the printing and
//               typesetting industry. Lorem Ipsum has been the industry's standard
//               dummy text ever since the 1500s, when an unknown printer took a
//               galley of type and scrambled it to make a type specimen book. It
//               has survived not only five centuries, but also the leap into
//               electronic typesetting, remaining essentially unchanged. It was
//               popularised in the 1960s with the release of Letraset sheets
//               containing Lorem Ipsum passages, and more recently with desktop
//               publishing software like Aldus PageMaker including versions of
//               Lorem Ipsum.
//             </p>
//             <a href="" className="container__middle__border__link">
//               Read more
//             </a>
//           </div>
