.container{
  &_bouquets{
    display:grid;
    grid-template-columns:3fr 0.5fr 2fr 1fr;
    grid-template-rows:0.5fr fr 1fr 1fr 2fr;

    @media (max-width: $screen-md) {
       border: none;
       display: block;
       min-height: auto;
       width: 100%;
       grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
       margin: 0 10px;
     }

  }
  &_title{
    grid-row-start:1;
    grid-column-start:1;
    grid-column-end: span 4;
    h2{
    font-family:$font-playfair;
    padding:5px;
    margin:1%;
    font-size: 3vh;
    display: flex;
    justify-content: center;
    letter-spacing:1px;
    text-transform:uppercase;
    text-align: center;
    border-bottom:1px solid $color-main-purple;
    }
  }
  &_description1{
    grid-row-start:2;
    grid-column-start:1;

    p{
      margin:6%;
      text-align: justify;
      text-justify: inter-word;;
      font-family:$font-futura-book;
      @media (min-width: 769px) {
      font-size: 1.2vw;
       }
    }
  }

  &_description2{
    grid-row-start:2;
    grid-column-start:1;
    ul {
      margin-left:5%;
      padding:0px;
      list-style:none;
      margin-top:30%;
      @media (max-width: $screen-md) {
        margin-top:0;
      }
    }
    li{
      display:flex;
      text-align: center;
      margin-left: 20%;
    @media (min-width: $screen-sm) {
      margin-left: 30%;
    }
      
    @media (min-width: 769px) {
      text-justify: inter-word;
      margin-left:30%;
      font-size: 1.2vw;
     }
    }
  }

  &_imgfour{
    grid-row-start:2;
    grid-column-start:2;
    grid-column-end:span 3;


    img{
    width:100%;
    z-index: 0;
    @media (max-width: $screen-md) {
      display:none;
    }
    @media (min-width:  768px) {
      padding: 3% 3% 0 0;
    }
    }

  }
  &_imgfive{
    grid-row-start:2;
    grid-column-start:1;
    grid-column-end:span 2;
    grid-row-end:span 2;
    z-index: 1;

    img{
    width: 80%;
    margin-left: 10%;
    
    @media (max-width: $screen-md) {
        padding: 5% 10% 1% 10%;
    }
    @media(min-widht:425px){
      margin-top:0px;
    }

    @media (min-width: 769px) {
       border: 5px solid white;
       margin-top:60%;
    }
    @media (max-width: $screen-md) {
    }
  }
  }
  &_imgeight{
    grid-row-start:3;
    grid-column-start:2;
    grid-column-end:span 2;
    grid-row-end:span 2;

    img{
    width: 80%;
    z-index: 0;
    @media (max-width: $screen-md) {
      width:80%;
      margin-left: 10%;
      padding: 0 10% 10% 10%;
    }

  }
 }
}

