.container{




  &_bouquets{
    display:grid;
    grid-template-columns:3fr 0.5fr 2fr 1fr;
    grid-template-rows:0.5fr 2fr 1fr 1fr 2fr;

    @media (max-width: $screen-md) {
       border: none;
       display: block;
       min-height: auto;
       width: 100%;
       grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
       margin: 0 10px;
     }

  }
  &_title{
    grid-row-start:1;
    grid-column-start:1;
    grid-column-end: span 4;
    h1{
    font-family:$font-playfair;
    padding:5px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    letter-spacing:1px;
    text-transform:uppercase;
    text-align: center;
    border-bottom:1px solid $color-main-purple;
    }
  }
  &_description1{
    grid-row-start:2;
    grid-column-start:1;

    p{
      margin:10px;
      text-align: justify;
      text-justify: inter-word;;
      font-family:$font-futura-book;
    }
    ul{
      padding:0px;
      text-align: justify;
      text-justify: inter-word;;
      font-family:$font-futura-book;
      list-style:none;
      @media (max-width: $screen-sm) {
        margin-left:25%;
      }
      @media (max-width: $screen-md) {
          margin-left: 35%;
      }
    }

  }
  &_imgfour{
    grid-row-start:2;
    grid-column-start:2;
    grid-column-end:span 3;


    img{
    width:100%;
    z-index: 0;
    @media (max-width: $screen-md) {
      display:none;
    }
    @media (min-width: 769px) {

    }
    }

  }
  &_imgfive{
    grid-row-start:3;
    grid-column-start:1;
    grid-column-end:span 2;
    grid-row-end:span 2;
    z-index: 1;

    img{
    width: 80%;
    margin-left: 10%;
    @media (max-width: $screen-md) {
        padding: 5% 10% 1% 10%;
    }
    @media (min-width: 769px) {
       border: 30px solid white;
    }
    }


  }
  &_imgeight{
    grid-row-start:4;
    grid-column-start:2;
    grid-column-end:span 2;
    grid-row-end:span 2;

    img{
    width: 80%;
    margin-left: 10%;
    z-index: 0;
    @media (max-width: $screen-md) {
        padding: 0 10% 10% 10%;
    }
    @media (min-width: 769px) {
    border: 30px solid white;
    }
    }

  }
}
