.modal {
  //width: 500px;
  width: 50%;
  max-width: 100%;
  margin: 0 auto;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  background-color: #ebebeb;
  padding: 0;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 5px solid $color-grey;
  //height: 600px;
  height: 70%;
  @media (max-width: $screen-sm) {
    width: 80%;
  }
  overflow: auto;
  &__closeicon {
    background-image: url("../assets/icons/close-icon-black.svg");
    background-repeat: no-repeat;
    background-size: 15px, 15px;
    height: 15px;
    width: 15px;
    border: none;
    position: fixed;
    align-self: flex-end;
    margin: 10px 0 0 -10px;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  &__closeicon:hover {
    transform: scale(1.1);
  }
  &__closebutton {
    padding: 14px 20px 25px 20px;
    background: #717171;
    color: #ffffff;
    text-transform: uppercase;
    font-family: "Futura-Book-Regular", Helvetica, Arial, sans-serif;
    border-radius: 4px;
    letter-spacing: 2px;
    //width: 20%;
    margin: 15px auto 40px auto;
    cursor: pointer;
    @media (max-width: $screen-md) {
      //width: 30%;
      text-align: center;
      padding: 14px 20px 25px 14px;
    }
  }
  &__content {
    margin: 50px 50px 0 50px;
    @media (max-width: $screen-md) {
      margin: 50px 20px 0 20px;
    }
  }
}
