.light {
  background-image: linear-gradient(to bottom, purple, rgba(255, 255, 255, 0));
  .navbar__navigation {
    //background: purple;
    margin: 0px;
  }
  .navbar__logo a img {
    width: 100px;
    //margin-top: 60px;
    @media (min-width: $screen-md) {
      width: 150px;
      height: 150px;
    }
    @media (max-width: $screen-md) {
      margin-top: 0;
    }
  }
  .navbar__navigation-items {
    ul {
      li {
        a {
          color: white;
          text-decoration: none;
          font-family: $font-playfair;
          text-transform: uppercase;
          letter-spacing: 2px;
        }
        a:hover,
        a:active {
          color: $color-main-purple;
        }
      }
    }
  }
}
