/* ================================================================= */

/* 
    Styling PLAYER WRAPPER RATIO at 100% example:

    padding-top: 56.25%;    <==  N.B Player ratio: 100 / (1280 / 720) 
    height: 100%;
    width: 100%;

*/

/* ================================================================= */

.player-wrapper {
  margin: 0 auto;
  position: relative;
  padding-top: 36.56%;
  height: 65%;
  width: 65%;

  .react-player {
    position: absolute;
    top: 0;
    left: 0;
  }
}

@media (max-width: $screen-md) {
  .player-wrapper {
    padding-top: 50.62%;
    height: 90%;
    width: 90%;
  }
}
