@media (max-width: 769px) {
  .sidebar {
    background: #fff; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to top,
      #f4e9f7,
      #fff
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to top,
      #f4e9f7,
      #fff
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    height: 100%;
    background-color: $color-white;
    box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.5);
    position: fixed;
    overflow: scroll;
    top: 0;
    right: 0;
    width: 70%;
    max-width: 350px;
    z-index: 200;
    transform: translateX(100%);
    transition: transform 0.3s ease-out;
    .sidebar-button {
      position: absolute;
      right: 0;
      margin: 45px 20px;
      background-image: url(../assets/icons/close-icon-main-purple.svg);
      background-repeat: no-repeat;
      background-size: 25px, 25px;
      background-color: $color-white;
      height: 25px;
      width: 25px;
      border: none;
      position: fixed;
    }
    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: right;
      margin-right: 20px;
      margin-top: 100px;

      li {
        margin: 0.5rem 0;
        a {
          color: $color-main-purple;
          color: black;
          text-decoration: none;
          font-size: 1.2rem;
          font-family: $font-playfair;
          text-transform: uppercase;
          letter-spacing: 0.2em;
        }
        a:hover,
        a:active {
          width: auto;
        }
      }
      li.menu__item:last-child {
        border-bottom: 1px solid $color-line-purple;
        padding-bottom: 40px;
      }
    }
  }

  @media (max-width: 769px) {
    .sidebar {
      .languagepicker {
        &__list {
          margin: 30px 20px;
        }
      }
    }
  }

  .sidebar.open {
    transform: translateX(0);
  }
}

@media (min-width: 769px) {
  .sidebar {
    display: none;
  }
}
