.toggle-button-light {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 30px;
  width: 100%;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;

  .toggle-button__line {
    width: 35px;
    height: 3px;
    background: $color-white;
  }
}

.toggle-button:focus {
  outline: none;
}
