@media (max-width: 769px) {
  .sidebar {
    height: 100%;
    background-color: $color-white;
    box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.5);
    position: fixed;
    overflow: scroll;
    top: 0;
    right: 0;
    width: 70%;
    max-width: 350px;
    z-index: 200;
    transform: translateX(100%);
    transition: transform 0.3s ease-out;
    .sidebar-button {
      position: absolute;
      right: 0;
      margin: 45px 20px;
      background-image: url(../assets/icons/close-icon-main-purple.svg);
      background-repeat: no-repeat;
      background-size: 25px, 25px;
      background-color: $color-white;
      height: 25px;
      width: 25px;
      border: none;
      position: fixed; //CHECK
    }
    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: right;
      margin-right: 20px;
      margin-top: 100px;

      li {
        margin: 0.5rem 0;
        a {
          color: $color-main-purple;
          text-decoration: none;
          font-size: 1.2rem;
          font-family: $font-playfair;
          text-transform: uppercase;
          letter-spacing: 0.2em;
        }
        a:hover,
        a:active {
          color: $color-white;
          width: auto;
          background-color: $color-main-purple;
          padding: 0 10px;
        }
      }
      li.menu__item:last-child {
        border-bottom: 1px solid lightgrey;
        padding-bottom: 40px;
      }
    }
  }

  @media (max-width: 769px) {
    .sidebar {
      .languagepicker {
        &__list {
          margin: 30px 20px;
        }
      }
    }
  }

  // @media (max-width: 769px) {
  //   .sidebar {
  //     .languagepicker {
  //       &__list {
  //         &__list-item {
  //           background-color: $color-white;
  //         }
  //         &__list-item--selected {
  //           background-color: $color-main-purple;
  //           color: $color-white;
  //           text-decoration: none;
  //           font-size: 1.2rem;
  //           font-family: $font-playfair;
  //           text-transform: uppercase;
  //           letter-spacing: 0.2em;
  //           span {
  //             color: $color-white;
  //           }
  //           span {
  //             text-decoration: none;
  //             font-size: 1.2rem;
  //             font-family: $font-playfair;
  //             text-transform: uppercase;
  //             letter-spacing: 0.2em;
  //           }
  //           span.selected {
  //             background-color: red;
  //           }
  //           span:hover,
  //           span:active {
  //             color: $color-white;
  //             width: auto;
  //             background-color: red;
  //             padding: 0 10px;
  //           }
  //         }
  //       }
  //       li.languagepicker__list-item:hover {
  //         color: $color-white;
  //       }
  //     }
  //   }
  // }

  .sidebar.open {
    transform: translateX(0);
  }
  // span.languagepicker__list-item--selected {
  //   background: #f44336;
  //   padding: 5px 9px;
  //   color: white;
  //   border-radius: 3px;
  // }
}

@media (min-width: 769px) {
  .sidebar {
    display: none;
  }
}
