.page-container {
  margin: 12rem 0 0 0px;
  padding: 50px;

  @media (max-width: $screen-md) {
    margin-top: 4rem;
  }

  &_header {
    font-family: $font-playfair;
    color: $color-main-purple;
    text-transform: uppercase;
    text-align: center;
    h1{
      border-bottom: 1px solid #680071;
    }
  }
}