html {
  height: 100%;
}

body {
  height: 100%;
  font-family: Futura-Book-Regular;
  border: 2px solid #93278f;
  padding: 0;
  height: auto;
  margin: 10px 30px;
}

body.home {
  border: none;
  margin: 0;
  padding: 0;
}

img:-moz-loading {
  visibility: hidden;
}

@media (max-width: 768px) {
  body {
    border: none;
    width: 100%;
    margin: 0;
  }
}
