html {
  height: 100%;
}
 /* @font-face {
  font-family: "PlayfairDisplay-Regular";
  src: url("./scss/settings/fonts/PlayfairDisplay-Regular.otf") format("opentype");
  font-family: "Futura-Book-Regular";
  src: url("./scss/settings/fonts/Futura-Book-Regular.otf") format("opentype");
}  */

body {
  height: 100%;
  font-family: Futura-Book-Regular;
  margin: 7rem 0 0 50px;
  padding: 0;
  position: fixed;
/*  background: url(./assets/images/background.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */ 



  /*
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
 -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  */
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
