.pillows {
  margin:10px;
  padding:0px;
  @media (min-width: $screen-md) {
    margin:40px;
  }
  &_title{
   padding:5px;
   font-family:$font-playfair;
   font-size: 30px;
   display: flex;
   justify-content: center;
   letter-spacing:1px;
   text-transform:uppercase;
   text-align: center;
   border-bottom:1px solid $color-main-purple;
   font-size:$font-headline-sm;

     @media (min-width: $screen-md) {
      margin-left:50px;
      border-bottom:1px solid $color-main-purple;
      width:200px;
      font-size:$font-headline-md;
    }

  }

  &_description{
    margin-top: 10px;
    font-family:$font-futura-book;
    display: flex;
    justify-content: center;
    text-align: justify;
    text-justify: inter-word;
    font-size:$font-normal-sm;
    @media (min-width: $screen-md) {
       width: 400px;
       padding-right:100px;
       font-size:$font-normal-md;
    }
  }

  &_options{
    font-family:$font-futura-book;
    display: flex;
    justify-content: center;
    text-align: justify;
    text-justify: inter-word;
    @media (min-width: $screen-md) {
      width: 400px;
      padding-right:100px;
    }
    ul{
      list-style:none;
      padding:0px;
    }
  }

  &_grid-mobile ul{
    padding: 0;
    list-style-type: none;

    @media (max-width: $screen-md) {
      display:flex;
      flex-direction: column;
      justify-content: center;
    }

    li{
      text-align:center;
    }

  }
  &_image6{
    img{
      width: 250px;
      position:center;
     @media (min-width: $screen-md) {
        width: 400px;
        top: 20px;
     }
    }
  }

  &_image7{
    img{
     width: 250px;
     position:center;
     @media (min-width: $screen-sm) {
        width: 350px;
    }
     @media (min-width: $screen-md) {
        width: 400px;
     }
    }
  }
}
