.cp {

  &_pillows{
    display:grid;
    grid-template-columns:3fr 0.5fr 2fr 1fr;
    grid-template-rows:0.5fr fr 1fr 1fr 2fr;
    @media (max-width: $screen-md) {
      border: none;
      display: block;
      min-height: auto;
      width: 100%;
      grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
      margin: 0 10px;
    }

 }

  &_title{
    grid-row-start:1;
    grid-column-start:1;
    grid-column-end: span 4;

    h2{
      font-family:$font-playfair;
      padding:5px;
      margin:1%;
      font-size: 4vh;
      display: flex;
      justify-content: center;
      letter-spacing:1px;
      text-transform:uppercase;
      text-align: center;
      border-bottom:1px solid $color-main-purple;
  
      @media (min-width: $screen-md) {
  
      }
    }

  }

  &_description{
    grid-row-start:2;
    grid-column-start:2;
    grid-column-end:span 3;
    
    p{
      text-align: justify;
      text-justify: inter-word;
      font-family:$font-futura-book;
      margin:6%;
      padding:10%;
      margin:6% 0 0 10%;

      @media (max-width: $screen-md) {
        padding:0;
        margin: 6%;
      }
      
    }
  }

  &_image6{
    grid-row-start:2;
    grid-column-start:2;
    grid-column-end:span 3;
    z-index: 1;
    img{
    width: 80%;
    margin-left: 10%;
    padding: 0 10% 1% 10%;
  
    @media (min-width: $screen-md) {
       border: 5px solid white;
       margin-top:60%;
       width: 90%;
       margin-left: 0;
       padding:0;
     
    }

    @media (max-width: $screen-md) {
      width:80%;
      margin-left: 10%;
      padding: 0 10% 1% 10%;
      margin-top:0;
    }
  }
}

  &_image7{
    grid-row-start:2;
    grid-column-start:1;
    grid-column-end:span 2;
    grid-row-end:span 2;
    z-index: 0;
    img{
      width: 80%;
      margin-left: 10%;
      z-index: 0;
      padding: 0 10% 10% 10%;
      @media (min-width: $screen-md) {
      width: 100%;
      padding: 5% 10% 5% 10%;

      @media (max-width: $screen-md) {
        width:80%;
        margin-left: 10%;
        padding: 0 10% 10% 10%;
        margin-top:0;
      }
  
      }
    }
  }
}
